               <header id="header" >
		</header>
            <div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container-fluid">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
						
                                             
					</div>
                                    <div class=" col-md-5 col-lg-2">
                                     
                                    </div>    
					<div class="col-sm-4 col-sm-offset-4">
						<div class="well no-padding">
							<form class="smart-form client-form">
								<h1>
									Sign In
								</h1>

								<fieldset>
									 <div class="col-lg-12 col-md-12 col-sm-12" >
                                                                             <div class="row">
                                                                         <div class="form-group">
							                 <label>User Name</label>
                        	                                         <input type="text" class="form-control required" ng-model="username">
                                                                         </div>
                                                                             </div>
                                                                         </div>
                                                                    
                                                                          <div class="col-lg-12 col-md-12 col-sm-12" >
                                                                              <div class="row">
                                                                         <div class="form-group">
							                 <label>Password</label>
                        	                                         <input type="text" class="form-control required" ng-model="password">
                                                                         </div>
                                                                              </div>
                                                                         </div>
									
								</fieldset>
								<footer>
                                                                   
                                                                  <button type="button" class="btn btn-success" ng-click="doLogin(); family()">
										Sign in
                                                                                
									</button>
								</footer>
							</form>

						</div>
						
						
						
					</div>
				</div>
			</div>

</div>

<!--<modal-dialog show='invalidialogShown' dialog-title='Alert Message' height='150px' width='75%'>
    <p style="color: #fa376e;">{{confirmationMessage}}</p>
        <div class="form_button">
            div style="background-color:#671a4b; height:40px;padding-top:15px;">
                     <a style="color:#FFFFFF;" ng-click="closeDialog()">Got It !. Close... </a>
              </div
            
        </div>
    </modal-dialog>
    <modal-dialog show='loadingImage' dialog-title='Processing.......' height='200px' width='35%'>
        <p>
		<center>	<img src="img/slot_loader.gif" height="110px"/></center>
		</p>
        <div class="form_button">
           
            
        </div>
    </modal-dialog> -->