<div id="main" role="main">        
<div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
        	<div class="padding margin-top">
            	<h1>Customer Location Search</h1>               
                </div>
    <div class="col-lg-12 col-md-12 margin-top">
            <div class="row">
                 
                <div class="col-lg-4 col-md-4 col-sm-4" >
                    <div class="form-group">
                        <label>Vehicle Type</label>
                        <select class="form-control" name="vehicletype" id="vehicletype" ng-model="vehicletype">
						 <option value="SUV">SUV</option>
						 <option value="Crossover">Crossover</option>
						 <option value="MPV">MPV</option>
						 <option value="Sedan">Sedan</option>
						 <option value="Coupe">Coupe</option>
						 <option value="Convertible">Convertible</option>
						</select>
                    </div>
                </div>
                
               <div class="col-lg-4 col-md-4 col-sm-4" >
                    <div class="form-group">
			<label>Location</label>
                        <input type="text" class="form-control required" ng-model="location">
                    </div>
                    </div>
            
            </div>
                                                  
                    	
              <div class="row">                   	
                <button type="button" class="btn btn-success">Search</button>
             </div>
    </div>
                
        </div>
        </div>
</div>