<div id="main" role="main">        
<div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
        	<div class="padding margin-top">
            	<h1>Driver Verification</h1>               
                </div>
    <div class="col-lg-12 col-md-12 margin-top">
            <div class="row">
                        
                    <div class="col-lg-4 col-md-4 col-sm-4" >
                    <div class="form-group">
			<label>License Number</label>
                        <input type="text" class="form-control required" ng-model="licenseno">
                    </div>
                    </div>                                       
                    <div class="col-lg-4 col-md-4 col-sm-4" >
                    <div class="form-group">
			<label>Vehicle Number</label>
                        <input type="text" class="form-control required" ng-model="vehiclenumber">
                    </div>
                    </div>
            
            </div>
                                                  
                    	
              <div class="row">                   	
                <button type="button" class="btn btn-success">Search</button>
             </div>
    </div>
                
        </div>
        </div>
</div>