<!DOCTYPE html>

	<header>
    	<nav class="navbar navbar-default navbar-fixed-top">
              <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>                        
                    </button>	
                  <a class="navbar-brand" href="#"><span class="bluebg whiteclr padding-5">Taxi Booking  System</span></a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">                    
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>
                    </ul>
                </div>
              </div>
		</nav>
    </header>
<main class="body slide">
<div class="container-fluid">	
	<div class="row">
		<div class="">
        	<div class="sidenav">
            	<div id="accordion" >
                     
                         <div class="list-group panel">
                        <a href="#/taxi/agentregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-user-o fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Agent Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/depatmentregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-bullseye fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Department Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/vehicletyperegistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-car fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Vehicle Type Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/vehicleregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-car fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Vehicle Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/driveregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-user-o fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Driver Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/locationmaster" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-location-arrow fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Location Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/vehiclecostmapping" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-map fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Location Wise Vehicle Cost Mapping</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/vehicleextrastmapping" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-map fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Vehicle Extras Mapping </h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/drivermapping" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-map fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Driver Mapping To Vehicle </h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/customerregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-user-o fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Customer Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/categoryregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-bullseye fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Category Registration</h4></div>	
                        </div>
                        </a>
                        <a href="#/taxi/subcategoryregistration" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-bullseye fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Sub Category Registration</h4></div>	
                        </div>
                        </a> 
                        <a href="#/taxi/driververification" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-id-card fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Driver Verification</h4></div>	
                        </div>
                        </a> 
                        <a href="#/taxi/customerlocationsearch" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-location-arrow fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Customer Location Search</h4></div>	
                        </div>
                        </a> 
                        <a href="#/taxi/customerlocationvehiclefares" class="list-group-item list-group-item-default" style="padding:0px;">
                        <div class="padding">
                        	<div class="span-4"><i class="fa fa-money fa-icon blackclr" aria-hidden="true"></i></div>
                           <div class="span-8"><h4 class="list-group-item-heading" style="text-align:left;">Customer Location Vehicle Fare</h4></div>	
                        </div>
                        </a> 
                             
                           
  </div>
</div>
            </div>
    	</div>
    </div>
    <ui-view></ui-view>
</div>
</main>
